appdirs==1.4.3
asn1crypto==1.2.0
attrs==19.3.0
Automat==0.8.0
Beaker==1.11.0
brial==1.0.2
btrfsutil==1.1.1
CacheControl==0.12.5
cachy==0.3.0
cffi==1.13.2
chardet==3.0.4
cleo==0.6.8
Click==7.0
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
deluge==2.0.4.dev20
distlib==0.3.0
distro==1.4.0
GeoIP==1.3.2
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
jsonschema==3.2.0
lit==0.9.0.dev0
lockfile==0.12.2
Mako==1.0.14
MarkupSafe==1.1.1
more-itertools==7.2.0
msgpack==0.6.2
multibootusb==9.3.0
ordered-set==3.1.1
packaging==19.2
pastel==0.1.1
pep517==0.6.0
Pillow==6.2.1
pkginfo==1.5.0.1
ply==3.11
poetry==0.12.17
progress==1.5
pwquality==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.18.2
pycparser==2.19
PyGObject==3.34.0
PyHamcrest==1.9.0
pylev==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.5
PyQt5==5.13.2
PyQt5-sip==4.19.19
pyrsistent==0.15.6
python-libtorrent==1.1.13
pytoml==0.1.21
pyudev==0.21.0.dev20191102
pyxdg==0.26
rencode==1.0.6
requests==2.22.0
requests-toolbelt==0.9.1
retrying==1.3.3
service-identity==18.1.0
setproctitle==1.1.10
shellingham==1.3.1
six==1.13.0
team==1.0
tomlkit==0.5.8
Twisted==19.10.0
urllib3==1.25.7
virtualenv==16.7.7
webencodings==0.5.1
youtube-dl==2019.11.28
zipp==0.6.0
zope.interface==4.7.1
